// Susy setitngs
// --------------------------------------------------

//$tablet: 39rem 12 no-mediaqueries; // samsung s4 is largest phone at the moment
//$tablet-large: 48rem 12 no-mediaqueries; // 768px width
//$desktop: 61rem 12 no-mediaqueries; // everything >= ~976px is desktop.


// Variables
// --------------------------------------------------


// Accent colors
// -------------------------

$blue:                  #336699;
$green:                 #46a546;
$green-success:         #46a546;
$red:                   #9d261d;
$red-danger:            #ff0011;
$yellow:                #ffc40d;
$orange:                #f89406;
$pink:                  #c3325f;
$purple:                #7a43b6;


// Typography
// -------------------------
$font-size-browser-default: 16px;
$rem-base-font-size: 16px;

